$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

// Variables
$blackish: #333;
$pad: 20px;

/*
* BASE
*
*
*
*/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*
* LAYOUT
*
*
*
*/

.container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#app {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

#container {
  max-width:700px;
  margin: 0px auto;
  padding: 50px 10px 10px 10px;
}

#projects_container {
  max-width: 1130px;
  margin: 0px auto;
  padding: 50px 10px 10px 10px;
}

#home_canvas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 100%;
}

#defaultCanvas {
  position: fixed;
  top: 0px;
  left: 0px;
}



/*
* MODULES
*
*
*
*/

// Greeting

#greeting_container {
  display: flex;
  flex-wrap: wrap;

  position: relative;
  top: -7%;
  z-index: 1;
}

.greeting {
  font-size: 150px;
  line-height: 80%;
}

.intro {
  display: flex;
  align-items: flex-end;

  font-size: 20px;
  margin-left: 20px;
}



// Login Form

.login-form {
  width: 300px;
  margin: 20px auto;
}

.login-form__input {
  width: 100%;
  margin: 5px 0px;
  height: 40px;
}

.login-form__btn {
  width: 100%;
}



// Navigation
.nav {
  position: fixed;
  width: 100%;
  z-index: 1;
}



// Nav Bar
.nav-bar {
  position: relative;
  top: 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: 45px;
  padding: 5px 0px;

  border-bottom: 1px solid #ccc;
  background-color: white;
  transition: all .1s linear;
}

.nav-bar--hidden {
  top: -60px;
  transition: all .1s linear;
}


// Nav Menu
.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-menu__ul {
  display: flex;
  flex-direction: row;

  height: 100%;
  margin: 0px;
  padding: 0px;

  list-style-type: none;
}

.nav-menu__li {
  height: 100%;
  padding: 0px 10px;

  text-align: center;
}

.nav-menu__a {
  color: #333;
  font-weight: 600;
}



// Nav Icon
.nav-icon {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 2;

  width: 40px;
  height: 25px;

  &:hover {
    cursor: pointer;
  }
}

.nav-icon__icon {
  position: relative;
  left: 7px;
  top: 10px;
  width: 25px;
  border: 2px solid black;

  &:before {
    content: "";
    position: absolute;
    top: .4em;
    left: -2px;
    width: 25px;
    border: 2px solid black;
  }

  &:after {
    content: "";
    position: absolute;
    left: -2px;
    bottom: .4em;
    border: 2px solid black;
    width: 25px;
  }
}



// Editor

.post-input, .project-input {
  width: 100%;
  margin: 0px 0px 20px 0px;
  border: 1px solid #eee;
}

.title-input {
  width: 100%;
  margin: 0px 0px 20px 0px;
  font-size: 30px;
  border: 1px solid #eee;
}

.content-editor {
  height: 500px;
  width: 100%;

  margin: 0px 0px 20px 0px;
  border: 1px solid #eee;
}



// Flag

.flag {
  background-color: #eee;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 13%;
  width: 100px;
  height: 40px;
}



// Content Menu
.content-menu {
  list-style-type: none;
  margin: 10px 0px;
  padding: 0px;
}

.content-menu__li {
  display: inline-block;
  margin-right: 10px;
}

.content-menu__a {
  color: #333;
  font-weight: 600;
}


// Projects Page

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


// Post/Project Single Page

/* this should be a mixin! */
.big-serif {
  font-family: Georgia, "Cambria", serif;
  font-size: 18px;
}


// Single Blog Post / Project pages

.post, .project {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.post__title, .project__title {
  font-size: 45px;
  margin: 10px 0px;
}

.post__meta, .project__meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post__body, project__body {
  font-family: Georgia, "Cambria", serif;
  font-size: 20px;
  margin: 20px auto;
  padding-top: 10px;
}

// Blog Post Partial
.post-partial {
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.post-partial__title {
  font-weight: 500;
}

.post-partial__a {
  color: $blackish;
}

.post-partial__meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-partial__description {
  font-family: Georgia, "Cambria", serif;
  font-size: 16px;
  color: #444;
  line-height: 1.8em
}

// Projects Partial

.project-partial {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;

  margin: 20px 10px 10px 10px;
  max-width: 350px;
}

project-partial__title {
  width: 100%;
  color: $blackish;
  margin: 0px;
  height: 30px;
}

.project-partial__title-a {
  font-weight: 200;
  font-size: 20px;
  color: $blackish;
}

.project-partial__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.project-partial__info {
  height: 100%;
  background-color: rgba(255, 255, 255, .7);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  -webkit-transition: all .1s linear;
}

.project-partial__meta {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-partial__info {
  margin-left: 5px;
  text-align: right;
}

.project-partial__image {
  width: 100%;
  background-size: cover;
}


.no-show{
  visibility: hidden;
  -webkit-transition: all .1s linear;
}


/*
* RESPONSIVE
*
*
*
*/

@media screen and (max-width: 600px) {
  #container {
   width: 100%;
   padding: 50px 20px 10px 20px;
  }
}

@media screen and (max-width: 1130px) {
  .project-partial {
   max-width: 400px;
  }

  .flag {
    position: fixed;
    left: 0px;
  }
}

@media screen and (max-width: 875px) {
  .projects {
   display: flex;
   justify-content: center;
  }

  .project-partial {
   max-width: 600px;
  }
}




/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
/*
  .container {
    max-width: 730px;
  }
*/

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
