<header class="project-partial__header">
    <h4 class="project-partial__title"><a href="#/projects/{{project._id}}" class="project-partial__title-a">{{project.title}}</a></h4>
    <span class="project-partial__meta">
        <a ng-if="$root.loggedIn" href="#projects/edit/{{project._id}}" class="project-partial__info">Edit</a>
        <a ng-if="$root.loggedIn" href="#" class="delete project-partial__info">Delete</a>
    </span>
</header>
<a href="#/projects/{{project._id}}">
    <video class="project-partial__image" preload="auto" loop>
        <source type="video/webm">
        Sorry, your browser does not support the <code>video</code> tag.
    </video>
</a>