<nav class="nav">
    <div id="nav_icon">
        <div id="icon"></div>
    </div>
    <div id="nav_bar" class="not-shown">
        <div id="nav_menu">
        	<ul class="nav-ul inline-nav">
        		<li class="nav-li"><a href="/">Darche</a></li>
        		<li class="nav-li"><a href="/#/blog">Blog</a></li>
        		<li class="nav-li"><a href="/#/projects">Projects</a></li>
        		<li ng-if="$root.loggedIn" class="nav-li" id="logout"><a href="/#/logout">Logout</a></li>
        	</ul>
        </div>
    </div>
</nav>
